html { 
    height: 100%;
    background: url('https://ak.picdn.net/shutterstock/videos/1034742791/thumb/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
body { 
    height: 100%; 
    margin: 15px; 
    padding: 0;
    font-family:Arial; 
}
#map_canvas{
    height: 55%;
    width: 65%;
}
#tittle {
     background: rgba(0,0,0);
     padding: 15px;
     color:#FFFFFF;
     font-family: Arial Black;
}
#content {
    background: rgba(0,0,0,0.2);
    padding: 15px;
    float:right;
    height: 50%;
    width: 30%;
    font: normal 15pt;
}
#contentTwo {
    background: hsla(0, 76%, 56%, 0.2);
    padding: 15px;
    height: 18%;
    width: 98%;
    font: normal 12pt;
}